section.event-content
  .container
    .row
      .col-xl-3.col-lg-4.d-none.d-lg-block(style="padding-right: 0px;")
        include event-sidebar.jade

      .col-md-12.col-xl-9.col-lg-8
        include event-main-content.jade
        
        
