section.event-sorting
  .container
    .row
      .col-md-12.col-lg-6
        p.showing
          a(href="#"): i.fa.fa-th
          a(href="#"): i.fa.fa-list-ul
          span Showing 1-9 of 18 results  
            
      .col-md-12.col-lg-6        
        .form-group
          input.form-control(type="email", placeholder="Search our courses")
          button.btn.btn-outline-light.btn-lg.text-uppercase.btn-course(type='submit') 
            | search
            i.fa.fa-arrow-right      
