section.sidebar-nav
  ul.all-courses
    li.text-uppercase all courses
    li: a(href="#").text-uppercase backend
    li: a(href="#").text-uppercase css
    li: a(href="#").text-uppercase design
    li: a(href="#").text-uppercase digital
    li: a(href="#").text-uppercase frontend
    li: a(href="#").text-uppercase general
    li: a(href="#").text-uppercase it & sorfware
    li: a(href="#").text-uppercase photograpy
    li: a(href="#").text-uppercase programming language
    li: a(href="#").text-uppercase TECHNOLOGY
    li: a(href="#").text-uppercase UI/UX
    
section.lastest-courses
  h4.text-uppercase lastest courses
  
  .media
    img(src="assets/img/event/sidebar_08.png", alt="")
    .media-body
      a(href="#").text-uppercase 3D GRAPHICS FOR WEB DEVELOPERS
      span.prices 75.000$  
      
  .media
    img(src="assets/img/event/sidebar_13.png", alt="")
    .media-body
      a(href="#").text-uppercase SECURE ANDROID APP DEVELOPMENT
      span.prices 75.000$      
      
  .media
    img(src="assets/img/event/sidebar_15.png", alt="")
    .media-body
      a(href="#").text-uppercase INSIDE IELTS: PREPARING FOR THE TEST WITH THE EXPERTS
      span.prices 75.000$  
      
  .media
    img(src="assets/img/event/sidebar_17.png", alt="")
    .media-body
      a(href="#").text-uppercase DIGITAL ACCESSIBILITY
      span.prices 75.000$    
    
section.sider-ads
  .container
    .something
      h2 HOW <br/>THE WEB <br/>CHANGING <br/>THE WORLD    
      a.text-uppercase(href="#") readmore
        i.fa.fa-arrow-right.ml-3

section.lastest-courses
  h4.text-uppercase lastest courses
  
  .media
    img(src="assets/img/event/sidebar_25.png", alt="")
    .media-body
      a(href="#").text-uppercase 3D GRAPHICS FOR WEB DEVELOPERS
      span.day June 09, 2017
      
  .media
    img(src="assets/img/event/sidebar_27.png", alt="")
    .media-body
      a(href="#").text-uppercase SECURE ANDROID APP DEVELOPMENT
      span.day June 09, 2017     
      
  .media
    img(src="assets/img/event/sidebar_30.png", alt="")
    .media-body
      a(href="#").text-uppercase INSIDE IELTS: PREPARING FOR THE TEST WITH THE EXPERTS
      span.day June 09, 2017 
      
  .media
    img(src="assets/img/event/sidebar_33.png", alt="")
    .media-body
      a(href="#").text-uppercase DIGITAL ACCESSIBILITY
      span.day June 09, 2017  
        
    
       
