section.event-main-content.home-events
  .card
    .card-date
      a(href="#", target="_blank"): p 25 <br/> NOV
    .card-img
      a(href="#", target="_blank") 
        img(src="assets/img/home-1/event-post_03.png", alt="")
    .card-body    
      a(href="#", target="_blank"): h4.card-title.text-uppercase LEARN WEB DEVELOPMENT
      p.card-text If you are a complete beginner, web development can be challenging — we will hold your hand and provide enough detail for you to feel comfortable and learn
      p.card-address
        i.fa.fa-location-arrow.mr-2
        span 935-994 Tortor. Street Santa Rosa
      p.card-time
        i.fa.fa-clock-o.mr-2
        span 18:00 - 20:00
      a.btn.btn-outline-light.btn-lg.text-uppercase.btn-register(href="#", target="_blank") register
        i.fa.fa-arrow-right
  
  .card
    .card-date
      a(href="#", target="_blank"): p 25 <br/> NOV
    .card-img
      a(href="#", target="_blank") 
        img(src="assets/img/home-1/event-post_06.png", alt="")
    .card-body    
      a(href="#", target="_blank"): h4.card-title.text-uppercase LEARN WEB DEVELOPMENT
      p.card-text If you are a complete beginner, web development can be challenging — we will hold your hand and provide enough detail for you to feel comfortable and learn
      p.card-address
        i.fa.fa-location-arrow.mr-2
        span 935-994 Tortor. Street Santa Rosa
      p.card-time
        i.fa.fa-clock-o.mr-2
        span 18:00 - 20:00
      a.btn.btn-outline-light.btn-lg.text-uppercase.btn-register(href="#", target="_blank") register
        i.fa.fa-arrow-right
                  
  .card
    .card-date
      a(href="#", target="_blank"): p 25 <br/> NOV
    .card-img
      a(href="#", target="_blank") 
        img(src="assets/img/home-1/event-post_08.png", alt="")
    .card-body    
      a(href="#", target="_blank"): h4.card-title.text-uppercase LEARN WEB DEVELOPMENT
      p.card-text If you are a complete beginner, web development can be challenging — we will hold your hand and provide enough detail for you to feel comfortable and learn
      p.card-address
        i.fa.fa-location-arrow.mr-2
        span 935-994 Tortor. Street Santa Rosa
      p.card-time
        i.fa.fa-clock-o.mr-2
        span 18:00 - 20:00
      a.btn.btn-outline-light.btn-lg.text-uppercase.btn-register(href="#", target="_blank") register
        i.fa.fa-arrow-right        
        
  .card
    .card-date
      a(href="#", target="_blank"): p 25 <br/> NOV
    .card-img
      a(href="#", target="_blank") 
        img(src="assets/img/home-1/event-post_10.png", alt="")
    .card-body    
      a(href="#", target="_blank"): h4.card-title.text-uppercase LEARN WEB DEVELOPMENT
      p.card-text If you are a complete beginner, web development can be challenging — we will hold your hand and provide enough detail for you to feel comfortable and learn
      p.card-address
        i.fa.fa-location-arrow.mr-2
        span 935-994 Tortor. Street Santa Rosa
      p.card-time
        i.fa.fa-clock-o.mr-2
        span 18:00 - 20:00
      a.btn.btn-outline-light.btn-lg.text-uppercase.btn-register(href="#", target="_blank") register
        i.fa.fa-arrow-right    
        
  .card
    .card-date
      a(href="#", target="_blank"): p 25 <br/> NOV
    .card-img
      a(href="#", target="_blank") 
        img(src="assets/img/home-1/event-post_12.png", alt="")
    .card-body    
      a(href="#", target="_blank"): h4.card-title.text-uppercase LEARN WEB DEVELOPMENT
      p.card-text If you are a complete beginner, web development can be challenging — we will hold your hand and provide enough detail for you to feel comfortable and learn
      p.card-address
        i.fa.fa-location-arrow.mr-2
        span 935-994 Tortor. Street Santa Rosa
      p.card-time
        i.fa.fa-clock-o.mr-2
        span 18:00 - 20:00
      a.btn.btn-outline-light.btn-lg.text-uppercase.btn-register(href="#", target="_blank") register
        i.fa.fa-arrow-right    
        
  .card
    .card-date
      a(href="#", target="_blank"): p 25 <br/> NOV
    .card-img
      a(href="#", target="_blank") 
        img(src="assets/img/home-1/event-post_14.png", alt="")
    .card-body    
      a(href="#", target="_blank"): h4.card-title.text-uppercase LEARN WEB DEVELOPMENT
      p.card-text If you are a complete beginner, web development can be challenging — we will hold your hand and provide enough detail for you to feel comfortable and learn
      p.card-address
        i.fa.fa-location-arrow.mr-2
        span 935-994 Tortor. Street Santa Rosa
      p.card-time
        i.fa.fa-clock-o.mr-2
        span 18:00 - 20:00
      a.btn.btn-outline-light.btn-lg.text-uppercase.btn-register(href="#", target="_blank") register
        i.fa.fa-arrow-right    
  .row
    .col-md-4            
      ul.pagination
        |             
        li.page-item
          a.page-link(href='#') 1
        |             
        li.page-item
          a.page-link(href='#') 2
        |             
        li.page-item
          a.page-link(href='#') 3
        |          
        li.page-item
          a.page-link(href='#') 4
        |     
      
