include jadefiles/global/head.jade
|
|
body.index-page-2
  |
  |
  .home-wrap
    include jadefiles/home/header.jade
    
    .home-sections
      include jadefiles/gallery/gallery-title.jade
      |
      |
      include jadefiles/gallery/gallery-pic.jade
      |
      |
      include jadefiles/home/home-subscribe.jade
      |
      |
      include jadefiles/home/footer.jade
      

      
      

    
  |        
  |
  |      
  //- div(style="height: 2000px")  
  |
  |
  include jadefiles/global/footer.jade
