include jadefiles/global/head.jade
|
|
body.index-page-1
  |
  |
  .home-wrap
    include jadefiles/home/header.jade
    
    .home-sections
      include jadefiles/home-2/thumb.jade
      include jadefiles/home-2/home2-search.jade
      include jadefiles/home-2/welcome.jade
      include jadefiles/home-2/home2-popular.jade
      include jadefiles/home/home-signup.jade
      include jadefiles/home/home-teacher.jade
      include jadefiles/home-2/home2-gallery.jade
      include jadefiles/home/home-quote.jade
      include jadefiles/home/home-subscribe.jade
      include jadefiles/home/footer.jade
      
      
      
      
      
      
      
    
  |        
  |
  |      
  //- div(style="height: 2000px")  
  |
  |
  include jadefiles/global/footer.jade
