section.error-page
  .container
    .row
      .col-md-6
        h2 THE PAGE YOU WERE LOOKING FOR DOSEN’T EXIST
        button.btn.btn-outline-light.btn-lg.text-uppercase.btn-course
          a(href="index.html") Back Now
          i.fa.fa-arrow-right   
