section.teacher-detail
  .container
    .row
      .col-lg-5.col-md-12
        .detail-img
          img(src="assets/img/home-1/teacher-1.png", alt="")
          .img-border
            
      .col-lg-7.col-md-12
        .detail-wrap
          h3.teacher-name  JOHN DEEP
          span.subjects PHP Teacher  
          p If you’d like to find out more, but are worried that you don’t have Hawking’s brain or an advanced qualification in cybernetics, this four week, free online course is for you.
          p We’re not planning to sit you down with a soldering iron, but we will introduce you to the basics of robot design through a series of simulations that will have you test driving an Eric – our very own University of Reading mobile robot.
          ul.media-social
            li: i.fa.fa-phone: span.ml-2 0123223013
            li: i.fa.fa-facebook-square: span.ml-2 John.deep
            li: i.fa.fa-skype: span.ml-2 John.deep
            li: i.fa.fa-envelope: span.ml-2 John.deep@gmail.com
        
