section.courses-content(style="padding: 80px 0px 0px;")
  .container
    .row
      .col-xl-3.col-lg-4.d-none.d-lg-block(style="padding-right: 0px;")
        include courses-sidebar.jade

      .col-md-12.col-xl-9.col-lg-8
        include courses-main-content.jade
        
