section.contact-title
  h1.text-uppercase.text-center courses
  
  ol.breadcrumb.text-uppercase
    li.breadcrumb-item
      a(href='index.html') Home
    |       
    |
    li.breadcrumb-item
      a(href='#') all courses
    li.breadcrumb-item.active(aria-current='page') courses

      
    
 
