section.courses-main-content
  
  .introduction
    h2.mb-5 INTRODUCTION TO PROCESS MINING WITH PROM
    
    .single-course-right-enroll.mb-5
      .row
        .col-md-3  
          .teacher-enroll.enroll
            img(src="assets/img/courses/teacher.png", alt="")
            p Teacher
            span Sarah Ahenma
        .col-md-3
          .flag-enroll.enroll
            img(src="assets/img/courses/flag.png", alt="")
            p Category
            span IT & SOFTWARE
        .col-md-3
          .enroll.text-center
            span.prices 95.000$
        .col-md-3
          .enroll.text-center.text-uppercase
            a(href="#") enroll this course
              i.fa.fa-arrow-right.ml-2
  
  .review-nav  
    img.img-wrap(src="assets/img/home-2/gallery_06.png", alt="")    
    
    nav
      #nav-tab-review.nav.nav-tabs(role='tablist')
        a#nav-home-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-home', role='tab', aria-controls='nav-home', aria-selected='true') DESCRIPTION
        |     
        
        
        a#nav-profile-tab.nav-item.nav-link(data-toggle='tab', href='#nav-profile', role='tab', aria-controls='nav-profile', aria-selected='false') INSTRUCTORS
        |    
        
         
        a#nav-contact-tab.nav-item.nav-link(data-toggle='tab', href='#nav-contact', role='tab', aria-controls='nav-contact', aria-selected='false') REVIEWS
        
        
      img.star(src="assets/img/courses/star.png", alt="")    
      
      
    #nav-tabContent-review.tab-content
      #nav-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-home-tab') 
        .container
          .row
            .col-md-12
              .row
                
                .col-md-4
                  .sprite-detail
                    img.mr-4(src="assets/img/courses/sprite-3.png", alt="")
                    p Start Date
                    span 30 June 2017
                    div(style="clear: both;")
                    
                    
                .col-md-4
                  .sprite-detail
                    img.mr-4(src="assets/img/courses/sprite-4.png", alt="")
                    p Start Date
                    span 25
                    div(style="clear: both;")
                    
                    
                .col-md-4
                  .sprite-detail
                    img.mr-4(src="assets/img/courses/sprite-5.png", alt="")
                    p Start Date
                    span 3 Months
                    div(style="clear: both;")
                    
              <hr/>    
                
            .col-md-12
              .some-detail
                h4 COURSE DESCRIPTION
                p The internet is playing a bigger role in our lives, as we buy our groceries, manage our finances, share social experiences and otherwise live our lives online. But how many of us have considered studying online?
                <br/>
                p In this free online course, you will find out what online learning is and what it can offer you. You’ll discover the skills required for online study and evaluate your own study skillset. You’ll also examine how students form online communities and how they benefit from flexible study arrangements while still being supported by dedicated tutors.
                
        
      #nav-profile.tab-pane.fade(role='tabpanel', aria-labelledby='nav-profile-tab') 
        .container
          img.mr-3(src="assets/img/courses/teacher-detail.png", alt="")
          p.teacher-name SARAH AHENMA
          small PHP Teacher
          p.words.mb-4 If you’d like to find out more, but are worried that you don’t have Hawking’s brain or an advanced qualification in cybernetics, this four week, free online course is for you.
          i.fa.fa-phone
          i.fa.fa-facebook
          i.fa.fa-skype
          i.fa.fa-envelope
          
            
              
            
      #nav-contact.tab-pane.fade(role='tabpanel', aria-labelledby='nav-contact-tab') 
        img(src="assets/img/courses/rating.png", alt="")

section.home-popular.courses-content-popular
  .container
    h4.mb-4 YOU MAY ALSO LIKE
    .owl-carousel.owl-theme.owl-courses-content-popular
    
      .card
        a.card-img(href="#")
          img.card-img-top(src="assets/img/home-1/popular-post_03.png", alt="") 
          span.text-uppercase view more
            i.fa.fa-arrow-right.ml-2
              
        .card-body    
          a(href="#"): h5.card-title SECURE ANDROID APP DEVELOPMENT
          a.card-author(href="#"): small Sarah Ahenma  
          p.card-text Get an introduction to mobile app security and learn how to develop secure Android    applications, with this free online course...
          span.card-meta
            .comments
              a(href="#"): i.fa.fa-users  12
              a(href="#"): i.fa.fa-comments  09
            .prices.text-center 
              span 125.00$
              
      .card
        a.card-img(href="#")
          img.card-img-top(src="assets/img/home-1/popular-post_05.png", alt="") 
          span.text-uppercase view more
            i.fa.fa-arrow-right.ml-2
              
        .card-body    
          a(href="#"): h5.card-title INTRODUCTION TO PROCESS MINING WITH PROM
          a.card-author(href="#"): small Sarah Ahenma  
          p.card-text Get an introduction to mobile app security and learn how to develop secure Android    applications, with this free online course...
          span.card-meta
            .comments
              a(href="#"): i.fa.fa-users  12
              a(href="#"): i.fa.fa-comments  09
            .prices.text-center 
              span 65.00$
              
      .card
        a.card-img(href="#")
          img.card-img-top(src="assets/img/home-1/popular-post_07.png", alt="") 
          span.text-uppercase view more
            i.fa.fa-arrow-right.ml-2
              
        .card-body    
          a(href="#"): h5.card-title LEARN TO CODE FOR DATA ANALYSIS
          a.card-author(href="#"): small Sarah Ahenma  
          p.card-text Get an introduction to mobile app security and learn how to develop secure Android    applications, with this free online course...
          span.card-meta
            .comments
              a(href="#"): i.fa.fa-users  12
              a(href="#"): i.fa.fa-comments  09
            .prices.text-center 
              span 85.00$
              
      .card
        a.card-img(href="#")
          img.card-img-top(src="assets/img/home-1/popular-post_03.png", alt="") 
          span.text-uppercase view more
            i.fa.fa-arrow-right.ml-2
              
        .card-body    
          a(href="#"): h5.card-title SECURE ANDROID APP DEVELOPMENT
          a.card-author(href="#"): small Sarah Ahenma  
          p.card-text Get an introduction to mobile app security and learn how to develop secure Android    applications, with this free online course...
          span.card-meta
            .comments
              a(href="#"): i.fa.fa-users  12
              a(href="#"): i.fa.fa-comments  09
            .prices.text-center 
              span 125.00$
              
      .card
        a.card-img(href="#")
          img.card-img-top(src="assets/img/home-1/popular-post_05.png", alt="") 
          span.text-uppercase view more
            i.fa.fa-arrow-right.ml-2
              
        .card-body    
          a(href="#"): h5.card-title INTRODUCTION TO PROCESS MINING WITH PROM
          a.card-author(href="#"): small Sarah Ahenma  
          p.card-text Get an introduction to mobile app security and learn how to develop secure Android    applications, with this free online course...
          span.card-meta
            .comments
              a(href="#"): i.fa.fa-users  12
              a(href="#"): i.fa.fa-comments  09
            .prices.text-center 
              span 75.00$
              
      .card
        a.card-img(href="#")
          img.card-img-top(src="assets/img/home-1/popular-post_07.png", alt="") 
          span.text-uppercase view more
            i.fa.fa-arrow-right.ml-2
              
        .card-body    
          a(href="#"): h5.card-title LEARN TO CODE FOR DATA ANALYSIS
          a.card-author(href="#"): small Sarah Ahenma  
          p.card-text Get an introduction to mobile app security and learn how to develop secure Android    applications, with this free online course...
          span.card-meta
            .comments
              a(href="#"): i.fa.fa-users  12
              a(href="#"): i.fa.fa-comments  09
            .prices.text-center 
              span 25.00$
              
      .card
        a.card-img(href="#")
          img.card-img-top(src="assets/img/home-1/popular-post_03.png", alt="") 
          span.text-uppercase view more
            i.fa.fa-arrow-right.ml-2
              
        .card-body    
          a(href="#"): h5.card-title SECURE ANDROID APP DEVELOPMENT
          a.card-author(href="#"): small Sarah Ahenma  
          p.card-text Get an introduction to mobile app security and learn how to develop secure Android    applications, with this free online course...
          span.card-meta
            .comments
              a(href="#"): i.fa.fa-users  12
              a(href="#"): i.fa.fa-comments  09
            .prices.text-center 
              span 95.00$          
              
          
    
    
