@media (max-width: 1200px) {
  section.home-signup{
    height: auto;
    padding-bottom: 30px;
    .container{


      .form-signup{
        position: relative;
        top: 0;

      }
      .home-signup-countdown{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

      }

      .home-signup-countdown{
        height: 60vh;
      }

    }//container


  }

}

@media (max-width: 992px) {
  section.home-signup{

    .container{

      .form-signup{
        padding: 30px 30px;
        &:after{
          display: none;
        }
      }//form-signup

      .home-signup-countdown{

        #clock{
          .cc{
            width: calc(25% - 40px);
          }
        }//clock

      }//home-signup-countdown

    }
  }//section

}
