/* GLOBAL CSS
   ----------------------------- */

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  &:hover {
    text-decoration: none !important;
  }
}

body{
  font-family: "Montserrat", sans-serif;
  // overflow: hidden !important;
}

body.index-page-2{
  .home-wrap{
    header{
       section.menu{
        background: #fff;
        #navbarSupportedContent ul li a{
          color: #000;
        }
        .fa-shopping-bag{
          color: #000;
        }
      }
    }
  }

}

$yellow: #ff961a;
$yellow-2: #fddf03;
