section.gallery-2{
  padding: 100px 0px;
  h2{
    span{
      color: $yellow;
    }
  }
  ul.filter-control{
    margin-top: 100px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    li{
      list-style: none;
      padding: 0px 25px;
      font-size: 1.1em;
      font-weight: 600;
      border-right: 2px solid $yellow-2;
      color: #777777;
      cursor: pointer;
      &:hover{
        color: $yellow;
      }

    }

    li:last-child{
      border: none;
    }
  }

  .gallery-wrap-2 ul{
    margin: 50px 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    li{
      display: flex;
      flex-wrap: wrap;
      width: calc(100% / 3);
      margin: 0;
      padding: 0;
      img{
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }//.gallery-wrap-2

  button.btn-course{
    background: $yellow;
    border: 1px solid $yellow;

  }
  button.btn-read{
    margin-right: 10px;
    &:hover{
      background: none;
    }
  }
  button{
    border-radius: 0;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.8rem 1.5rem;

    i{
      padding-left: 10px;
    }
  }

}
