section.gallery-1{
  padding: 100px 0px 0px;
  width: 100%;
  h1{
    margin-bottom: 50px;

    span{
      color: $yellow;
    }
  }


  .gallery-wrap ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    li{
      display: flex;
      flex-wrap: wrap;
      width: calc(100% / 3);
      margin: 0;
      padding: 0;
      img{
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }
}
