section.contact-information
  .container
    .row
      
      .col-lg-12
        h2.text-uppercase.text-center contact
          span.ml-2 information
          
      .col-lg-12
        .row
          .col-md-12.col-lg-4
            .contact-table.contact-address.text-center
              img(src="assets/img/contact/icon-1.png", alt="")
              h4.text-uppercase address
              p 935-994 Tortor. Street Santa Rosa  
              
          .col-md-12.col-lg-4
            .contact-table.contact-phone.text-center
              img(src="assets/img/contact/icon-2.png", alt="")
              h4.text-uppercase phone
              p +88 3333 6789
              p +90 3242 9288
            
          .col-md-12.col-lg-4
            .contact-table.contact-email.text-center
              img(src="assets/img/contact/icon-3.png", alt="")
              h4.text-uppercase email
              p hello@eplus-themes.com
      .col-lg-12.col-md-12
        img.map(src="assets/img/contact/map.png", alt="")      
            
        
