section.contact-form
  .container
    .row.justify-content-center
      .col-lg-12
        h3.text-center LEAVE A 
          span MESSAGE
      .col-lg-6
        .owl
          .hand
          |   
          .hand.hand-r
          |   
          .arms
            .arm
            |     
            .arm.arm-r
        .row
          .col-lg-12  
            form.form-inline
              .form-group
                .control
                  input#email.form-control(placeholder='Email', type='email')
                  input#password.form-control(placeholder='Password', type='password')
                  
          .col-lg-6      
            form
              .form-group
                .control
                  input.form-control(placeholder='Your name', type='text')    
                  input.form-control(placeholder='Write comments..', type='text')   
                  input.form-control(placeholder='Your subject..', type='text')    

          
                         
      .col-lg-12.text-center
        button.btn.btn-outline-light.btn-lg.text-uppercase.btn-course(type="submit", ) 
          | Send Now
          i.fa.fa-arrow-right   
        
