section.about-chart
  .container
    
    .chart-wrap
      
      .chart-wrap-content
        .chart-wrap-box
          p 38
          span TOTAL COURSES 
          
      .chart-wrap-content
        .chart-wrap-box
          p 2340
          span CLASS COMPLETE
          
      .chart-wrap-content
        .chart-wrap-box
          p 112300
          span STUDENTS ENROLLED  
          
      .chart-wrap-content
        .chart-wrap-box
          p 25
          span CERTIFIED TEACHERS
      
      
