section.welcome(style="margin-top: 100px;")
  .container
    .row
      
      .col-md-12.col-lg-6.order-2
        
        .welcome-title(style="padding: 0px 0px 0px 30px;")
          h2.text-uppercase.title-span.text-center welcome
            span.ml-2 ischool
          p Ischool have taken on a range of bold approaches to improving students’ experiences in public education.
          p At a Nov. 15 convening, hosted by the White House Domestic Policy Council and the Office of Innovation and Improvement at the U.S. Depart ment of Education (ED) , our nation’s leading district superintendents .summit: give more students and educators the opportunity to experience personalized learning.
          p Across these innovations, districts have embraced the notion that empowering students and their teachers is an effective way to improve student outcomes.  
          
      .col-md-12.col-lg-6.order-1
        .welcome-img
          img(src="assets/img/home-2/welcome-post.png", alt="")
        
      
