section.about-choice
  .container
    .row
      .col-lg-6.col-md-12
        h2 WHY CHOICE
          span.ml-2 ISCHOOL
          
        .row
          .col-lg-3.col-md-3.col-sm-12.col-12
            ul.about-choice-tab
              li: a(href="#") Trending Courses  
              li: a(href="#") Booking & Library
          
              li: a(href="#") Best Teachers
          
              li: a(href="#") Nation Awards
            
          .col-lg-1.col-md-1.col-sm-1.col-2
            #v-pills-tab.nav.flex-column.nav-pills(role='tablist', aria-orientation='vertical')
              .line

              a#v-pills-home-tab.nav-link.active(data-toggle='pill', href='#v-pills-home', role='tab', aria-controls='v-pills-home', aria-selected='true')
              |     
              a#v-pills-profile-tab.nav-link(data-toggle='pill', href='#v-pills-profile', role='tab', aria-controls='v-pills-profile', aria-selected='false')
              |     
              a#v-pills-messages-tab.nav-link(data-toggle='pill', href='#v-pills-messages', role='tab', aria-controls='v-pills-messages', aria-selected='false')
              |     
              a#v-pills-settings-tab.nav-link(data-toggle='pill', href='#v-pills-settings', role='tab', aria-controls='v-pills-settings', aria-selected='false')
              
          .col-lg-8.col-md-8.col-sm-11.col-10
            #v-pills-tabContent.tab-content.mb-4.mt-3
              #v-pills-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='v-pills-home-tab') 
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
              |     
              #v-pills-profile.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-profile-tab') 
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
              |     
              #v-pills-messages.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-messages-tab') ...
              |     
              #v-pills-settings.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-settings-tab') ...

  
  
          
      .col-lg-6.col-md-12      
        .welcome-img.mt-3
          img(src="assets/img/contact/choice-post.png", alt="")  
      
