section.contact-title
  h1.text-uppercase.text-center gallery
  
  ol.breadcrumb.text-uppercase
    li.breadcrumb-item
      a(href='index.html') Home
    |       
    |
    li.breadcrumb-item
      a(href='#') page
    li.breadcrumb-item.active(aria-current='page') gallery

      
    
 
