section.search
  .container
    .row
      .col-md-12.col-lg-12
        .searc-wrap-box
        
        .search-wrap
          h4.text-uppercase.text-center SEARCH course
          
          form
            .form-group
              
              input.form-control(type='text', placeholder='Key Word...')
              |
              select.form-control
                option(data-display='Categories') Categories
                |        
                option(value='1') Some option
                |        
                option(value='2') Another option
                |        
                option(value='3') A disabled option
                |        
                option(value='4') Potato

              |   
              select.form-control
                option(data-display='Typologies') Typologies
                |        
                option(value='1') Some option
                |        
                option(value='2') Another option
                |        
                option(value='3') A disabled option
                |        
                option(value='4') Potato
                
              button.btn.btn-outline-light.btn-lg.text-uppercase.btn-course(type='submit') 
                | search
                i.fa.fa-arrow-right      


        
