section.gallery-1
  
  h1.text-uppercase.text-center OUR 
    span.ml-2 PICTURES
    
  .gallery-wrap
    
    ul#da-thumbs.da-thumbs
      
      li
        a.fancybox(rel='fancybox', href='assets/img/home-2/gallery_02.png')
          img(src='assets/img/home-2/gallery_02.png', alt='')
          div: span Menu by Simon Jensen

      li  
        a.fancybox(rel='fancybox', href='assets/img/home-2/gallery_03.png')
          img(src='assets/img/home-2/gallery_03.png', alt='')    
          div: span TN Aquarium by Charlie Gann
          
      li
        a.fancybox(rel='fancybox', href='assets/img/home-2/gallery_04.png')
          img(src='assets/img/home-2/gallery_04.png', alt='')   
          div: span Mr. Crabs by John Generalov
          
      li
        a.fancybox(rel='fancybox', href='assets/img/home-2/gallery_05.png')
          img(src='assets/img/home-2/gallery_05.png', alt='')     
          div: span Gallery of Mo 2.Mo logo by Adam Campion
          
      li
        a.fancybox(rel='fancybox', href='assets/img/home-2/gallery_06.png')
            img(src='assets/img/home-2/gallery_06.png', alt='') 
            div: span Ice Cream - nom nom by Eight Hour Day
            
      li  
        a.fancybox(rel='fancybox', href='assets/img/home-2/gallery_07.png')
          img(src='assets/img/home-2/gallery_07.png', alt='') 
          div: span App Preview by Ryan Deshler
          
  
        
