section.home2-popular
  .container
    .row
      
      .col-md-12.text-uppercase.text-center
        h3.popular-title.title-span POPULAR
          span.ml-2 COURSES
          
      .col-md-12.col-lg-4
        .card.card-1
          a.card-img(href="#")
            img.card-img-top(src="assets/img/home-1/popular-post_03.png", alt="") 
            span.text-uppercase view more
              i.fa.fa-arrow-right.ml-2
                
          .card-body.card-body-1 
            a(href="#"): h5.card-title SECURE ANDROID APP DEVELOPMENT
            a.card-author(href="#"): small Sarah Ahenma  
            p.card-text Get an introduction to mobile app security and learn how to develop secure Android    applications, with this free online course...
            span.card-meta
              .comments
                a(href="#"): i.fa.fa-users  12
                a(href="#"): i.fa.fa-comments  09
              .prices.text-center 
                span 125.00$
                
      .col-md-12.col-lg-8
        .row
          .col-lg-12
            .card.card-2
              a.card-img(href="#")
                img.card-img-top(src="assets/img/home-1/popular-post_05.png", alt="") 
                span.text-uppercase view more
                  i.fa.fa-arrow-right.ml-2
                    
              .card-body.card-body-2
                .card-body-detail
                  a(href="#"): h5.card-title SECURE ANDROID APP DEVELOPMENT
                  a.card-author(href="#"): small Sarah Ahenma  
                  p.card-text Get an introduction to mobile app security and learn how to develop secure Android    applications, with this free online course...
                span.card-meta
                  a(href="#"): i.fa.fa-users  12
                  a(href="#"): i.fa.fa-comments  09
                  span.prices 75.00$
                  
                  
          .col-lg-12
            .card.card-2
              a.card-img(href="#")
                img.card-img-top(src="assets/img/home-1/popular-post_07.png", alt="") 
                span.text-uppercase view more
                  i.fa.fa-arrow-right.ml-2
                    
              .card-body.card-body-2
                .card-body-detail
                  a(href="#"): h5.card-title SECURE ANDROID APP DEVELOPMENT
                  a.card-author(href="#"): small Sarah Ahenma  
                  p.card-text Get an introduction to mobile app security and learn how to develop secure Android    applications, with this free online course...
                span.card-meta
                  a(href="#"): i.fa.fa-users  12
                  a(href="#"): i.fa.fa-comments  09
                  span.prices 75.00$


        
