section.contact-title{
  margin-top: 135px;
  background-image: url(../img/contact/breadcrumb-bg.png);
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 80px 0px;
  h1{
    color: #fff;
    font-size: 3em;
  }
  ol.breadcrumb{
    background: none;
    text-align: center;
    display: flex;
    justify-content: center;
    li.breadcrumb-item{
      color: #fff;
      &:before{
       content: '//';
       color: #fff;

     }
       a{
         color: #fff;
       }
    }
    li.breadcrumb-item:first-child{
      &:before{
        content: '';
      }

    }

  }


}
