footer.footer
  .container
    .row
      .col-md-6.col-lg-3.part-1.mb-4
        h4 ABOUT SCHOOL
        p When I arrived at the agency, wire frames were already being created and variety of projects.
        i.fa.fa-map-marker: span.ml-3 935-994 Tortor. Street Santa Rosa
        i.fa.fa-phone: span.ml-2 +88 3333 6789
        i.fa.fa-envelope-o: span.ml-2 hello@eplus-themes.com

      .col-md-6.col-lg-3.part-2
        h4 RECENT COURSES
        .part-2-img
          .part-2-img-1.d-flex
            img(src="assets/img/home-1/footer-recent_03.png")
            .img-detail
              a(href="#") APP DEVELOMENT IS AMAZING  
              small: i.fa.fa-calendar-o  12 June 2017
          .part-2-img-2.d-flex
            img(src="assets/img/home-1/footer-recent_06.png")
            .img-detail
              a(href="#") APP DEVELOMENT IS AMAZING  
              small: i.fa.fa-calendar-o  12 June 2017
                      
                            
      .col-md-6.col-lg-2.part-3
        h4 QUICK LINK
        ul
          a(href="#"): li HOME PAGE
          a(href="#"): li ABOUT US
          a(href="#"): li SERVICES
          a(href="#"): li EVENTS
          a(href="#"): li OUR TEACHERS
          
      .col-md-6.col-lg-4.part-4     
        h4 INSTAGRAM
        .img-insta
          img(src="assets/img/home-1/footer-insta_03.png", alt="")
          img(src="assets/img/home-1/footer-insta_05.png", alt="")
          img(src="assets/img/home-1/footer-insta_07.png", alt="")
          img(src="assets/img/home-1/footer-insta_09.png", alt="")
          img(src="assets/img/home-1/footer-insta_15.png", alt="")
          img(src="assets/img/home-1/footer-insta_16.png", alt="")
          img(src="assets/img/home-1/footer-insta_17.png", alt="")
          img(src="assets/img/home-1/footer-insta_18.png", alt="")  
