section.home-teachers
  .container
    .row
      .col-md-12.col-lg-12
        h2.text-uppercase.text-center OUR
          span.ml-3 teachers
          
      .col-md-12.co-lg-12
        .owl-carousel.owl-theme.owl-carousel-teachers
          
          .card.text-center
            .card-img
              img.card-img-top(src="assets/img/home-1/teacher-1.png", alt="")
            .card-body    
              a(href="#").card-title.text-uppercase Maria Susan
              p.card-text Developer Teacher  
            .teachers-info
              p The best teacher prepara tion programs emphasize sub ject  matter mastery and pre vide many opportunities for student teachers to spend time in real classrooms under.
              .info-social
                a(href="#"): i.fa.fa-facebook
                a(href="#"): i.fa.fa-twitter
                a(href="#"): i.fa.fa-pinterest-p
                a(href="#"): i.fa.fa-google-plus
          

          
          .card.text-center
            .card-img
              img.card-img-top(src="assets/img/home-1/teacher-2.png", alt="")
            .card-body    
              a(href="#").card-title.text-uppercase jonh deep
              p.card-text PHP Teacher     
            .teachers-info
              p The best teacher prepara tion programs emphasize sub ject  matter mastery and pre vide many opportunities for student teachers to spend time in real classrooms under.
              .info-social
                a(href="#"): i.fa.fa-facebook
                a(href="#"): i.fa.fa-twitter
                a(href="#"): i.fa.fa-pinterest-p
                a(href="#"): i.fa.fa-google-plus    
              
          .card.text-center
            .card-img
              img.card-img-top(src="assets/img/home-1/teacher-3.png", alt="")
            .card-body    
              a(href="#").card-title.text-uppercase Sahashe William
              p.card-text Graphic Design Teacher
            .teachers-info
              p The best teacher prepara tion programs emphasize sub ject  matter mastery and pre vide many opportunities for student teachers to spend time in real classrooms under.
              .info-social
                a(href="#"): i.fa.fa-facebook
                a(href="#"): i.fa.fa-twitter
                a(href="#"): i.fa.fa-pinterest-p
                a(href="#"): i.fa.fa-google-plus  
              
          .card.text-center
            .card-img
              img.card-img-top(src="assets/img/home-1/teacher-2.png", alt="")
            .card-body
              a(href="#").text-uppercase jonh deep
              p.card-text PHP Teacher    
            .teachers-info
              p The best teacher prepara tion programs emphasize sub ject  matter mastery and pre vide many opportunities for student teachers to spend time in real classrooms under.
              .info-social
                a(href="#"): i.fa.fa-facebook
                a(href="#"): i.fa.fa-twitter
                a(href="#"): i.fa.fa-pinterest-p
                a(href="#"): i.fa.fa-google-plus       
                
            
          
