section.home-signup
  .container
    .row
      
      .col-md-12.col-lg-12.col-xl-5
        .home-signup-countdown
          h4 NEXT UI DESIGN COURSES
          h1.title-span AVAILABLE
            span.ml-2 NOWwtfff
          #clock
          
      .col-md-12.col-lg-12.col-xl-7
        
        .form-signup
          h1.text-uppercase sign
            span.ml-2 up
          
          form
            .form-group
            
              input#exampleInputEmail1.form-control(type='text', placeholder='Enter Your Name')
              |             

            .form-group
             
              input#exampleInputPassword1.form-control(type='email', placeholder='Your Email')

            |           
            .form-group
             
              input#exampleInputPhone1.form-control(type='text', placeholder='Your phone')

            |     
            button.btn.btn-primary.btn-center(type='submit') Get It Now
              i.fa.fa-arrow-right.ml-2

            
