section.home-quote.home-quote-2
  .container
    .row
      
      .col-none.col-xs-none.col-sm-none.col-md-none.col-lg-4
        .owl-carousel.owl-theme.owl-carousel-quote-1
          .quote-carousel-1(data-hash="zero")
            img(src="assets/img/home-1/quote-post_06.png", alt="")
          .quote-carousel-1(data-hash="one")
            img(src="assets/img/home-1/quote-post_08.png", alt="")
          .quote-carousel-1(data-hash="two")
            img(src="assets/img/home-1/quote-post_10.png", alt="")
          .quote-carousel-1(data-hash="three")
            img(src="assets/img/home-1/quote-post_12.png", alt="")    
      
      .col-md-12.col-lg-8
        .row
          .col-md-12
            .owl-carousel.owl-theme.owl-carousel-quote-2
              .quote-carousel-2(data-hash="zero")
                h3  DIA VANILLA
                i.fa.fa-quote-left          
                p “Education is the process of facilitating learning, or the acquisition of knowledge, skills, values, beliefs, and habits. Educational methods include storytelling, discus sion, teaching, training, and directed research. That has a formative effect on the way one thinks, feels, or acts.”  
              .quote-carousel-2(data-hash="one")
                h3  DIA VANILLA
                i.fa.fa-quote-left          
                p “Education is the process of facilitating learning, or the acquisition of knowledge, skills, values, beliefs, and habits. Educational methods include storytelling, discus sion, teaching, training, and directed research. That has a formative effect on the way one thinks, feels, or acts.”    
              .quote-carousel-2(data-hash="two")
                h3  DIA VANILLA
                i.fa.fa-quote-left          
                p “Education is the process of facilitating learning, or the acquisition of knowledge, skills, values, beliefs, and habits. Educational methods include storytelling, discus sion, teaching, training, and directed research. That has a formative effect on the way one thinks, feels, or acts.” 
              .quote-carousel-2(data-hash="three")
                h3  DIA VANILLA
                i.fa.fa-quote-left          
                p “Education is the process of facilitating learning, or the acquisition of knowledge, skills, values, beliefs, and habits. Educational methods include storytelling, discus sion, teaching, training, and directed research. That has a formative effect on the way one thinks, feels, or acts.”  
                
          .col-md-12  
            .owl-carousel.owl-theme.owl-carousel-quote-3
              .quote-carousel-3
                a(href="#zero"): img(src="assets/img/home-1/quote-post_06.png", alt="")
              .quote-carousel-3
                a(href="#one"): img(src="assets/img/home-1/quote-post_08.png", alt="")
              .quote-carousel-3
                a(href="#two"): img(src="assets/img/home-1/quote-post_10.png", alt="")
              .quote-carousel-3
                a(href="#three"): img(src="assets/img/home-1/quote-post_12.png", alt="")    
          
