section.home-subscribe
  .container
    .row
      .col-md-12.col-lg-6
        h1 NEWSLETTER
      .col-md-12.col-lg-6
        form
          .form-group
            input(type="email", placeholder="Write your email").form-control
            a(href="#").btn.text-uppercase Subscribe 
              i.fa.fa-arrow-right
        
