section.home-choice
  .container
    .row
      .col-md-12
        h2.text-center.choice-title why choice
          span.ml-2 us
      .col-md-12.home-choice-wrap   
        .row 
          .col-md-3
            .choice-box.text-center
              .choice-box-img
                a(href="#"): img(src="assets/img/home-1/home-choice/choice-1.png", alt="")
              a(href="#"): h4 TRENDING COURSES
              p If you are ready to apply for our <br/> Bach elor of Information <br/> Technology or simply want to know<br/> morely...
        
          .col-md-3
            .choice-box.text-center
              .choice-box-img
                a(href="#"): img(src="assets/img/home-1/home-choice/choice-2.png", alt="")
              a(href="#"): h4 BOOK & LIBRARY

              p If you are ready to apply for our <br/> Bach elor of Information <br/> Technology or simply want to know<br/> morely...
              
          .col-md-3
            .choice-box.text-center
              .choice-box-img
                a(href="#"): img(src="assets/img/home-1/home-choice/choice-3.png", alt="")
              a(href="#"): h4 BEST TEACHERS

              p If you are ready to apply for our <br/> Bach elor of Information <br/> Technology or simply want to know<br/> morely...
              
          .col-md-3
            .choice-box.text-center
              .choice-box-img
                a(href="#"): img(src="assets/img/home-1/home-choice/choice-4.png", alt="")
              a(href="#"): h4 NATIONAL AWARDS

              p If you are ready to apply for our <br/> Bach elor of Information <br/> Technology or simply want to know<br/> morely...
  
