section.home-thumb
  .container
    .row
      .thumb-title.text-uppercase
        h1 ONLINE IT & DIGITAL
        h4 Learn and develop your coding skills and understand <br> how digital affects our world.
        .thumb-button
          a(href="#")
            button.btn.btn-outline-light.btn-lg.text-uppercase.btn-read
              | read more
              i.fa.fa-arrow-right
          a(href="#")
            button.btn.btn-outline-light.btn-lg.text-uppercase.btn-course
              | enroll course
              i.fa.fa-arrow-right      
          
  
