section.about-chart{
  background-image: url(../img/contact/chart-bg.png);
  background-size: cover;
  background-position: center;
  padding: 100px 0px;
  .chart-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    .chart-wrap-content{
      width: calc(25% - 20px);
      height: 265px;
      margin: 10px 10px;
      border: 20px solid rgba(#fff, 0.2);
      transition: all .3s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #fff;
      cursor: pointer;

      &:hover{
        border: 15px solid rgba(#fff, 0.7);
        background: rgba(#fff, 0.2);
      }
      p{
        font-size: 3em;
        font-weight: 600;
      }
      span{
        font-weight: 600;
      }
    }//chart-wrap-content
  }
}
