section.home-quote{
  background-image: url(../img/home-1/quote-bg.png);
  width: 100%;
  // height: 90vh;
  padding: 100px 0px;

  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

  .owl-carousel-quote-1{
    .quote-carousel-1{
      margin-top: 20px;
      width: 310px;
      height: 406.88px;
      border: 1px solid $yellow-2;
      img{
        height: 100%;
        transform: translate(20px, -20px);
      }
    }
    .owl-nav, .owl-dots{
      display: none;
    }
  }

  .owl-carousel-quote-2{
    color: #fff;
    position: relative;

    .owl-dots{
      display: none;
    }

    .owl-nav{
      position: absolute;
      top: 5%;
      right: 0;
      .owl-prev, .owl-next{
        background: transparent;
        border: 1px solid #fff;
        padding: 10px 20px;
        border-radius: 0;
      }
    }

    .quote-carousel-2{
      h3{
        color: $yellow;
      }
      .fa-quote-left{
        font-size: 5em;
        opacity: 0.1;
      }
      p{
        margin-top: -30px;
        font-size: 19px;
        margin-bottom: 50px;
      }
    }
  }//.owl-carousel-quote-2

  .owl-carousel-quote-3{
    .quote-carousel-3{
      border: 1px solid gray;
      width: 135px;
      height: 171px;
      margin-top: 10px;
    }
    img{
      transform: translate(10px, -10px);
    }

      .owl-nav{
        display: none;
      }
      .owl-dots{
        margin-top: 50px;
  
        .owl-dot.active span{
          background: $yellow;
        }
  
        .owl-dot{
          border: 1.2px dotted $yellow-2;
          margin: 0px 5px;
          padding: 1px 1px;
  
          transform: rotate(45deg);
  
          span{
            border-radius: 0;
            margin: 0;
            background: transparent;
          }
  
        } //owl-dot
      } //owl-dots
      
  }

}
