section.home-signup{
  background-image: url(../img/home-1/signup-bg.png);
  width: 100%;
  height: 90vh;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;

  .container{

    .form-signup{
      width: 100%;
      height: 100%;
      background: #ed9522;
      padding: 60px 70px;
      border: 30px solid $yellow-2;
      position: relative;
      top: 80px;
      text-align: center;

      &:after{
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid $yellow-2;
        position: absolute;
        top: -10px;
        left: -55px;
        z-index: -1;
      }

      h1{
        margin-bottom: 40px;
        color: #fff;
        span{
          color: $yellow-2;
        }
      }

      form{
        button{
          color: $yellow;
          border: none;
          background: #fff;
          border-radius: 0;
          margin-top: 10px;
          cursor: pointer;
        }

        input{
          background: #ec8826;
          border: none;
          margin-bottom: 30px;
          color: #fff;

          &::placeholder{
            color: #fff;
          }
        }

      }

    }//form-signup

    .home-signup-countdown{
      // background: pink;
      height: 90vh;
      display: flex;
      justify-content: center;
      // align-items: flex-start;
      flex-direction: column;
      color: #fff;


      #clock{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .cc{
          display: flex;
          flex-direction: column;
          width: calc(25% - 50px);
          margin-right: 40px;
          text-align: center;


          span{
            color: #fff;
          }
          span:first-child{
            border: 2px solid #fff;
            width: 70px;
            height: 70px;
            line-height: 70px;
            margin-right: 40px;
            font-size: 1.5em;
          }
          span:last-child{
            margin-top: 5px;
            font-size: 1.2em;
          }
        }


      }

      h1{
        font-size: 3em;
        color: $yellow-2;
        margin: 20px 0px 40px;
        span{
          color: #fff;

        }
      }
      h4{
        font-size: 1.7em;
      }

    }

  }

}
