section.home-choice{
  padding: 130px 0 55px !important;
  font-family: "Montserrat", sans-serif;
  background: #ffffff;
  position: relative;
  h2.choice-title{
    margin-bottom: 60px;
    text-transform: uppercase;
    font-size: 36px;
    span{
      color: $yellow
    }
  }

  .choice-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 300px;

    a h4{
      font-size: 20px;
      color: #303030;
      font-weight: 600;
      transition: all .3s ease;
      margin-top: 10px;
      &:hover{
        color: $yellow;
      }
    }

    p{
      color: #606060;
      font-size: 14px;
    }

  }

  .choice-box-img{
    width: 140px;
    height: 140px;
    border: 2px solid $yellow;
    display: flex;
    justify-content: center;;
    align-items: center;
    transition: all .3s ease;
    &:hover{
      background: #fddf03;
      border-color: #fddf03;
    }
  }

}
